# Environment
NODE_ENV=development

# Ports
PORT=3000

# Database (Prisma/MySQL)
DATABASE_URL=mysql://root:password@localhost:3306/reactive-finances


# Database (Prisma/MySQL)
# Note: This is used only in the compose.yml file
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres